  h1 {
  font-size: 70px;
  text-align: center;
  color: rgb(255, 182, 193); 
  margin-top: 40px;   
  margin-bottom: 20px;
}
h2 , h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: black;
  background-color: #f4f4f4;
  padding: 20px;
}
.navbar ul {
  list-style: none;
  display: flex;
  font-size: 35px;
  justify-content: center;
  background-color: #333;
  padding: 10px;
  font-weight: bold;
  margin: 25px;
  text-align: center;
}
.navbar li { margin: 0 15px; }
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navbar a:hover { color: #3498db; }
.row {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  margin: 20px 0;
}
.column {
  flex: 1;
  min-width: 300px; 
  background: white;
  padding: 20px;
  border-radius: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
th { background-color: #333; color: white; }
footer {
  text-align: center;
  font-weight: bold;
}
  .video-item {
    margin-bottom: 40px; 
    text-align: center; 
}
.video-item, .img-item {
    margin-bottom: 40px; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

iframe, img {
    max-width: 100%;
    height: auto;
}

.video-item iframe {
    max-width: 100%;    
    border-radius: 8px; 
    margin: 15px 0;
}

figcaption {
    font-style: italic;
    color: #555;
    max-width: 560px;
    margin: 0 auto;     
}
.row {
    display: flex;        
    flex-wrap: wrap;      
    gap: 20px;            
    margin: 20px 0;
}
.column {
    flex: 1;               
    min-width: 300px;      
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
img, iframe, video {
    max-width: 100%;       
    height: auto;        
    border-radius: 5px;
}
