  h1{
  font-size: 70px;
  text-align: center;
  color: rgb(255 182 193);
}
.navbar{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: black;
  background-color: #f4f4f4;
  padding: 20px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background: #333;
  padding: 10px;
}
.navbar li { margin: 0 15px; }
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navbar a:hover { color: #3498db; }
.bandeau-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap; /* Passage à la ligne sur mobile */
  gap: 20px;
  margin: 20px 0;
}
.column {
  flex: 1;
  min-width: 300px; /* Devient une seule colonne si l'écran est petit */
  background: white;
  padding: 20px;
  border-radius: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
th { background-color: #333; color: white; }
